<html>

	<head>
		<title>Man Pages</title>
		<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" /> -->
	</head>

	<body>
		<h1>Here are some man pages:</h1>
		<a href='/'>Home</a>
		<a href='/cp'>cp</a> 
		<a href='/mv'>mv</a>
		<a href='/cd'>cd</a>
		<a href='/mkdir'>mkdir</a>
		<a href='/ls'>ls</a>

		<hr>
	
		<%= yield %>
	</body>

</html>
