<html>

	<head>
		<title>Man Pages</title>
		<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" /> -->
	</head>

	<body>
		<h1>Command Line Menu</h1>
		<a href='/'>Home</a>
		<a href='/cp'>CP</a> 
		<a href='/mv'>MV</a>
		<a href='/cd'>CD</a>
		<a href='/mkdir'>MKDIR</a>
		<a href='/ls'>LS</a>

		<hr>
	
		<%= yield %>
	</body>

</html>
