<h1>COMMAND LINE</h1>

<hr>

<ol>
	<li><a href='/cp'>CP</a></li>
	<li><a href='/ls'>LS</a></li>
	<li><a href='/mkdir'>MKDIR</a></li>
	<li><a href='/touch'>Touch</a></li>
	<li><a href='/mv'>MV</a></li>
</ol>
